// Variables
$primary-color: #A60303;
$secondary-color: #960202;
$background-color: rgba(119, 99, 99, 0.9);

// Estilos generales
html {
    body {
        main {
            .contactts {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                padding: 6rem;
                background-image: url(../assets/pexels-pixabay-163582.jpg);
                background-size: cover;
                background-position: center;
                color: #eeb8b8;
                width: auto;
                text-shadow: 2px 2px 4px rgb(179, 55, 55);
            }

            section {
                form {
                    background-color: rgba(119, 99, 99, 0.9);
                    padding: 4rem;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    width: 70%; /* Ajusta el ancho del formulario */
                    max-width: 600px; /* Ajusta el máximo ancho del formulario según tus necesidades */
                    margin: 0 auto; /* Centra el formulario horizontalmente */
                    font-size: 2rem;
                    margin-bottom: 2rem;

                    input, select, textarea {
                        width: 100%; /* Ajusta el ancho de los elementos internos */
                        font-size: 1.5rem;
                        margin-bottom: 1rem; /* Espacio entre elementos */
                    }

                    label {
                        display: block;
                        font-size: 2.5rem;
                        margin-bottom: 1rem; /* Espacio entre etiquetas */
                    }

                    textarea {
                        height: 4rem;
                    }

                    .btn-submit {
                        background-color: #A60303;
                        border: none;
                        border-radius: 5px;
                        width: 100%;
                        padding: 1rem;
                        color: #fff;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #960202;
                        }
                    }
                }
            }
        }
    }
}


    // Media queries
    @media screen and (min-width: 320px) and (max-width: 480px) {
    section {
        form {
        width: 100%;

        input, select, textarea {
            max-width: 100%;
        }

        label {
            max-width: 100%;
        }
        }
    }
    }
