
$primary-color: #A60303;
$border-color: red;

// Mixin para estilos comunes de botón
@mixin button-styles {
    margin: auto;
    padding: 10px 20px; 
    font-size: 20px; 
    width: auto; 
    height: auto;
    background-color: $primary-color;
    color: white;
}

// Mixin para centrar horizontal y verticalmente
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Mixin para estilos comunes de texto
@mixin text-styles {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

// Mixin para estilos comunes de borde inferior
@mixin border-bottom {
    border-bottom: 2px solid $border-color;
}

// Mixin para estilos comunes de párrafo
@mixin paragraph-styles {
    margin: 0;
    width: 100%;
}

#bmwverde {
    @include center; // Aplicar mixin para centrar
    width: 100%;
}

.quienesomos {
    @include text-styles;
    font-size: 4rem;
    color: $primary-color;
}

.botonn {
    @include button-styles;
}

.noso1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include text-styles; // Aplicar mixin para estilos de texto
    padding: 1rem;
    margin-top: 5px;
    font-size: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    @include border-bottom; // Aplicar mixin para borde inferior
    padding-bottom: 30px;
    border-top: 2px solid $border-color;

    // Aplicar mixin para estilos de párrafo
    p {
        @include paragraph-styles;
    }
}

#mapita {
    @include center; // Aplicar mixin para centrar
}

#trabajoss {
    @include text-styles; // Aplicar mixin para estilos de texto
    color: $primary-color;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    object-fit: cover;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}

#descubre {
    @include text-styles; // Aplicar mixin para estilos de texto
}

