
$color-rojo: #A60303;
$espacio-tarjetas: 20px;


@mixin title-styles {
    font-family: "Bebas Neue", sans-serif;
    color: $color-rojo !important;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    text-align: center !important;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    #servi {
        @include title-styles;
        font-size: 4.5rem; // Tamaño de fuente para h1
    }

    .card {
        width: calc(30% - #{$espacio-tarjetas * 2}); // Ajusta el ancho de las tarjetas
        margin: $espacio-tarjetas;
        padding: 25px;
        border: 3px solid #ccc;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #ccc;
        }

        .card-content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            
            .hdeserv {
                @include title-styles;
            }

            p,
            ul,
            button {
                margin-bottom: 10px;
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 480px) {
        /* Estilos específicos para dispositivos móviles */
        .card {
            width: calc(100% - #{$espacio-tarjetas * 2});
            margin: 10px auto;
            padding: 15px;

            .card-content .hdeserv {
                @include title-styles;
            }
        }
    }

    @media screen and (min-width: 481px) and (max-width: 1024px) {
        .card {
            width: calc(90% - #{$espacio-tarjetas * 2}); // Ancho ajustado para tablet
            margin-bottom: 20px;
        }
    }
}
