$color-rojo: #A60303;
$color-oscuro: #0D0D0D;
$color-verde: green;
$espacio-tarjetas: 4rem;

// Definir mixin para estilos de botones
@mixin button-styles {
    display: block;
    padding: 10px;
    background-color: $color-rojo;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #750000;
    }
}


#tienda {
    color: $color-rojo;
    text-align: center;
    margin: 20px;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $espacio-tarjetas;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

// Estilos para las tarjetas .card4
.card4 {
    border: 3px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;

    h2 {
        font-size: 28px;
        color: $color-rojo;
        margin-bottom: 10px;
        text-align: center;
    }

    h4 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
    }

    p {
        margin-bottom: 15px;
        text-align: center;
    }

    ul {
        margin-bottom: 15px;
        padding-left: 0;
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
        border-radius: 8px;
        object-fit: cover;
    }

    .card-content4 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;
    }

    
    .boton1 {
        width: 100%;
        text-align: center;

        a {
            @include button-styles;
        }
    }
}

// Media queries para dispositivos móviles
@media screen and (min-width: 320px) and (max-width: 580px) {
    .card-container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0 10px;
    }

    .card4 {
        padding: 10px;

        h2 {
            font-size: 24px;
        }

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 18px;
        }

        
        .boton1 {
            a {
                padding: 8px;
            }
        }
    }
}


